extends panel

block head2
    link(href="/stylesheets/table.css", rel="stylesheet")
    link(href="/stylesheets/panel/algorithms.css", rel="stylesheet")
    script(src="/javascripts/table.js", defer)
    script(src="/javascripts/panel/algorithms.js", defer)

block panel
    h1 Algorithms

    p An overview of your current algorithms.


    a(class="button", href="/panel/algorithms/add")
        span &plus; Add

    if algorithms.length > 0
        .table
            .table-head
                .row
                    .cell id
                    .cell description
                    .cell start_funds (USDT)
                    .cell current_funds (USDT)
                    .cell start/stop
                    .cell stats
                    .cell details
                    .cell
                        | reset
                        img(src="/images/panel/help.png", class="text-popup-button", data-text="Set current funds as start funds and delete order history.")
                    .cell delete
            .table-body
                each a in algorithms
                    .row(id="#{a.id}")
                        .cell= a.id
                        .cell
                            img(src="/images/panel/text.png", class="text-popup-button", data-text="#{a.description}")
                        .cell= a.start_funds
                        .cell(class="current-funds") 0.00
                        .cell(class="is-running")
                            img(src="/images/panel/turn-off.png", title="Stop algorithm.")
                            span Inactive
                        .cell
                            a(href="/panel/algorithms/#{a.id}/stats")
                                img(src="/images/panel/stats.png", title="Statistics of algorithm.")
                        .cell
                            a(href="/panel/algorithms/#{a.id}/details")
                                img(src="/images/panel/info.png", title="Details algorithm.")
                        .cell
                            img(src="/images/panel/reset.png", title="Reset algorithm.", class="reset-button", onclick="reset_algorithm(\'#{a.id}\')")
                        .cell
                            img(src="/images/panel/delete.png", title="Delete algorithm.", class="delete-button", onclick="delete_algorithm(\'#{a.id}\')")
    else
        p You currently don't have any algorithms.
