extends panel

block head2
    link(href="/stylesheets/table.css", rel="stylesheet")
    link(href="/stylesheets/panel/chart.css", rel="stylesheet")
    link(href="/stylesheets/panel/algorithm-stats.css", rel="stylesheet")
    script(src="https://cdn.canvasjs.com/canvasjs.min.js")
    script(src="/javascripts/table.js", defer)
    script(src="/javascripts/panel/algorithm-stats.js", defer)

block panel
    h1 Algorithm stats - #{id}

    p Watch the performance of this algorithm.

    #stats
        div
            span.top-label
                | Start funds 
                span.total#algorithm-start-funds-total(data-value="") - 0.00 
            .balances
                div
                    span.label BTC: 
                    span.amount#algorithm-start-funds-btc(data-value="") 0.00
                div
                    span.label USDT: 
                    span.amount#algorithm-start-funds-usdt(data-value="") 0.00
        div
            span.top-label
                | Current funds - 
                span.total#algorithm-current-balance-total
            .balances
                div
                    span.label BTC: 
                    span.amount#algorithm-current-balance-btc 0.000000
                div
                    span.label USDT: 
                    span.amount#algorithm-current-balance-usdt 0.00

    #chart-controls
        div
            input(type="checkbox", class="charts-control-show-line", id="show-total", checked)
            span.label Total
        div
            input(type="checkbox", class="charts-control-show-line", id="show-usdt", checked)
            span.label USDT
        div
            input(type="checkbox", class="charts-control-show-line", id="show-btc", checked)
            span.label BTC
        select(id="chart-interval")
            option(value="all", selected) All
            option(value="hourly") Hourly
            option(value="daily") Daily

    #chart-container

    #history-container
        if history.length > 0
            .table
                .table-head
                    .row
                        .cell timestamp
                        .cell order_id
                        .cell buy/sell
                        .cell btc
                        .cell usdt
                        .cell btc_price
                .table-body
                    each h in history
                        .row(timestamp=h.created_at, class="#{h.action.toLowerCase()}")
                            .cell= moment(h.created_at).format("YYYY/MM/DD HH:mm")
                            .cell= h.order_id
                            .cell= h.action
                            .cell= h.btc
                            .cell= h.usdt.toFixed(2)
                            .cell= h.btc_price.toFixed(2)
            
            .button#load-more &plus; Load more
        else
            p This algorithm doesn't have any orders yet.
