extends panel

block head2
    link(href="/javascripts/codemirror/codemirror.css", rel="stylesheet")
    link(href="/stylesheets/panel/algorithm-details.css", rel="stylesheet")
    
    script(src="/javascripts/codemirror/codemirror.js", defer)
    script(src="/javascripts/codemirror/python-mode.js", defer)
    script(src="/javascripts/panel/algorithm-details.js", defer)

block panel
    h1 Algorithm details - #{algorithm.id}

    p The configuration details of your algorithm.


    #details-container
        .input-wrapper
            span
                | ID
                img(src="/images/panel/help.png", class="text-popup-button", data-text="The ID of this algorithm.")
            span.value #{algorithm.id}
        
        .input-wrapper
            span Description
            span.value #{algorithm.description}
        
        .input-wrapper
            span 
                | Start funds USDT
                img(src="/images/panel/help.png", class="text-popup-button", data-text="The amount of USDT this algorithm initially started with.")
            span.value #{parseFloat(algorithm.start_funds_usdt).toFixed(2)}
        
        .input-wrapper
            span 
                | Candlestick interval
                img(src="/images/panel/help.png", class="text-popup-button", data-text="Interval of the candlestick.")
            span.value #{algorithm.interval}
        
        .input-wrapper
            span 
                | Execute every sec
                img(src="/images/panel/help.png", class="text-popup-button", data-text="The interval in seconds in which this algorithm is executed.")
            span.value #{algorithm.run_every_sec}

        span Python code
        textarea(id="code_input", name="code") #{code}
